* {
    margin: 0px;
    padding: 0px;
}

body {
    background-color: black;
}


/*navigation*/

.nav-socialmedia {
    padding-left: 800px;
    color: orange;
    font-size: 25px;
}

.socialmedia {
    font-size: 30px;
    padding: 5px;
    list-style: none;
    padding-left: 150px;
}

.fa-brands {
    font-size: 50px;
    text-shadow: 4px 4px black;
    padding-left: 100px;
    color: orange;
    list-style: none;
}

a:link {
    color: white;
}

a:visited {
    color: orange;
}

a:hover {
    color: violet;
}

.nav-item {
    list-style: none;

}
/*end of navigation*/


/*top box with chameleon*/
.chameleon {
    padding-left: 2%;
    width: 85%;

}

.thetrend {
    font-weight: bold;
    text-align: left;
    font-family: 'Rubik Dirt', cursive;
    font-size: 8rem;
    color: purple;
}

.catering {
    color: orange;
    font-weight: bold;
    text-align: left;
    font-size: 40px;
    text-shadow: 2px 2px black;
}

.slogan {
    font-size: 70px;
    text-align: left;
    font-family: 'Caveat', cursive;
    font-weight: bold;
    color: purple;
}

/*end of top box with chameleon*/

/*The truck info*/
.truck-container {
    display: grid;
    width: 100%;
}

.truck-pic {
    width: 90%;
    padding-left: 1%;
    padding-top: 2%;
    padding-bottom: 1%;
}

.contactlink {
    color: white;
    text-align: center;
    font-size: 25px;
}

.trendtruck {
    font-family: "Rubik Dirt", cursive;
    font-size: 70px;
    padding-top: 25px;
    text-shadow: 3px 3px black;
    color: darkorange;
}

.whatwedo {
    font-size: 35px;
    font-weight: bold;
    font-family: "caveat", cursive;
    text-align: center;
    color: white;
    text-shadow: 3px 3px black;
}

.clicksocialmedia {
    font-size: 2.5rem;
    font-family: "caveat", cursive;
    font-weight: bold;
    text-align: center;
    color: darkorange;
    text-shadow: 3px 3px black;
}

.veteranowned {
    font-weight: bold;
    font-size: 2.5rem;
    font-family: "caveat", cursive;
    padding-left: 3.5%;
    color: turquoise;
}

/*end of truck*/


/*headings before container of teas, oats, and acai*/
.freshingredients {
    text-align: center;
    font-family: "Caveat", cursive;
    font-weight: bold;
    color: turquoise;
    font-size: 50px;
}

.ingredients {
    text-align: center;
    color: orange;
    font-size: 25px;
}

.perkenergy {
    color: purple;
}


/*container with tea, oats, and acai bowls*/
.container {
    display: grid;

    /*flex-direction: row;
    justify-content: space-around;*/
    border: 2px black solid;
    min-width: 100vh;
    padding-bottom: 25px;


}

.perkenergy {
    font-size: 22px;
}

.col-sm-4 {
    text-align: center;
    padding-top: 15px;
    font-family: "caveat", cursive;
    font-weight: bold;

}

.energy-teas,
.oats,
.sorbet {
    border: 2px black solid;
    color: purple;
}

.teaparagraph,
.oatparagraph,
.acaiparagraph {
    font-size: 25px;
}

.d-block w-100 {
    text-align: center;
    width: 50%;
}

p {
    padding: 10px;
    font-size: 18px;
    color: black;
}

h2 {
    color: purple;
    padding-top: 15px;
    font-weight: bold;
    font-size: 40px;
}

h3 {
    text-align: center;
    color: turquoise;
    font-family: "caveat", cursive;
    font-size: 35px;
    font-weight: bold;
}

h4 {
    color: purple;
    font-style: italic;
    font-weight: bold;
    font-size: 25px;

}

.ingredients {
    font-size: 30px;
    font-weight: bold;
}

.instacontainer {
    display: flex;
    justify-content: center;
    padding-right: 75px;
}

/*end container*/

/*menu page*/
.menu-header {
    text-align: center;
    color: fuchsia;
    font-size: 55px;
}

.menuinstagram {
    margin-top: 25px;
    color: white;
    font-size: 45px;
    padding-bottom: 0px;
    margin-bottom: 0px;
}

.current-menu,
.tea-menu,
.menu-ingredients {
    width: 100%;
}

.oat-menu {
    width: 100vw
}

.col-sm-12 {
    padding: 25px;
}

.col-sm-6 {
    padding-top: 40px;
}

.menu {
    padding-top: 0px;
    font-family: "caveat", cursive;
    font-size: 45px;
}
/*end of menu page*/


/*FAQ page*/
/*faq heading*/
.faqheading {
    text-align: center;
    color: purple;
    font-weight: bold;
    font-family: "Rubik Dirt", cursive;
    padding-top: 85px;
    font-size: 55px;
}

/*ACCORDION*/

.accordioncontainer {
    padding-left: 50px;
    padding-right: 50px;
}

/* Style the buttons that are used to open and close the accordion panel */
.accordion {
    background-color: violet;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    padding-left: 50px;
    padding-right: 50px;
    text-align: left;
    border: 3px 3px lime;
    outline: solid 2px purple;
    transition: 0.4s;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active,
.accordion:hover {
    background-color: aqua;
}

/* Style the accordion panel. Note: hidden by default */
.panel {
    padding: 0 18px;
    background-color: white;
    display: none;
    overflow: hidden;
}

/*END of ACCORDION*/

/*end of faq page*/


/*contact us page*/
.contactbody {
    background-color: mediumspringgreen;
}


.hearfromyou {
    font-size: 60px;
    font-family: "Rubik Dirt", cursive;
    text-align: center;
    padding-top: 100px;
}

/*contact form*/
.row {
    color: white;
    padding: 50px;
}

.form-label {
    color: black;
}

.trend-contact {
    color: fuchsia;
    font-size: 40px;
}

/*contactpagefooter*/
.contactfooter {
    color: black;
    font-size: 26px;
    padding-bottom: 0px;
    padding-top: 25px;
    margin-bottom: 0px;
}

.contactmyinfo {
    color: black;
    font-size: 26px;
    padding: 0px;
}

/*end contact page footer*/

/*footer*/
footer {
    margin-bottom: 0px;
    text-align: center;
    font-size: 25px;
    font-family: "caveat", cursive;
    color: white;
}

.trendfooter {
    color: white;
    margin-bottom: 0px;
    padding-bottom: 0px;
    font-size: 25px;
}

/*media queries*/

/*small devices, cellphones 576px and up*/
@media screen and (min-width: 576px) {
    .nav-link {
        text-align: left;
    }

    .trendtruck {
        text-align: center;
    }

    .chameleon {
        min-width: 200px;
    }

    .col-sm-8 {
        text-align: center;
    }

}

/*medium devices, tablets 768px and up*/
@media screen and (min-width: 768px) {
    .row {
        width: 100%;
    }

    .nav-link {
        text-align: left;
    }

    .chameleon {
        min-width: 200px;
    }
}

/*large devices, laptops*/
@media screen and (min-width: 992px) {

}

/*X-large devices, large desktops*/
@media screen and (min-width: 1200px) {

}